.bg {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(255, 183, 0, 0.6), rgba(255, 183, 0, 0.6)),radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #123f61;
    padding-left: 0;
    padding-right: 0;
    z-index: -1;
}

 .intro {
    max-width: 1200px;
    padding: 1rem 2rem;
    margin: 1rem auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
.title {
    text-align: center;
}
.intro h2 {
    margin-bottom: 2rem;
}
 .intro p {
    font-weight: 500;
    margin-bottom: 1.5rem;
}
